@import "tailwindcss";
@import "tailwindcss-primeui";

:root {
  --dark-background: #151d1f;
  --light-background: #fafafa;
}

.my-app-light {
  @apply bg-gradient-to-br from-green-100 via-[#efeeee] to-green-200;
}

.my-app-dark {
  @apply bg-gradient-to-br from-[#151d1f] from-70%  to-[#1d6139];
}

body {
  @apply h-screen w-full bg-blend-screen;
}

#app {
  @apply h-full w-full;
}

.no-radius {
  border-radius: 0 !important;
}

.bg-primary {
  background: var(--p-surface-primary);
  transition: background-color 0.25s ease-in-out;
}

h2,
h3,
h4 {
  color: var(--p-surface-0);
}
